#jh-imgpost {
	position:fixed;
	bottom:10px;
	z-index:999999;
	right:10px;
	float:left;		
	margin:0 10px 0 0;
}
#mybutton {
	
}

#jh-pbox {
	font-family: "Helvetica Neue", "MalgunGothic",  sans-serif;
	font-size:12px;
	width:200px;
	height:200px;
	position:fixed;
	bottom:-300px;
	z-index:999999;
	right:10px;
	background-color:#464646;	
	padding:20px 20px 0 0;
	color:#ffffff;
	float:left;		
	margin:0 10px 0 0;
}

#jh-pbox a:link {color: #ffffff; }
#jh-pbox a:visited {color: #ffffff;}
#jh-pbox a:hover {color: #ffffff;}
#jh-pbox a:focus {color: #ffffff;}
#jh-pbox a:active {color: #ffffff;}


#jh-pbox li { margin: 0; padding:3px; list-style-type:square } 
